/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background: #fff; /* Cor de fundo branco */
    color: #333; /* Cor do texto */
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: max-content;
}

.dropdown-content a {
    text-decoration: none;
    color: #333; /* Garante que o texto seja visível */
    padding: 5px 10px;
    display: block;
    transition: background 0.3s, color 0.3s;
}

.dropdown-content a:hover {
    background: #212529; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Texto branco ao passar o mouse */
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px; /* Ajusta o espaçamento */
    background: #212529;
    color: white;
}

footer img {
    max-width: 40px; /* Define um tamanho padrão para os ícones */
    height: auto; /* Mantém a proporção */
    margin: 5px; /* Espaçamento entre os ícones */
}

footer p {
    margin-top: 10px;
    font-size: 0.9em; /* Reduz o tamanho do texto */
}

/* Ajuste do tamanho do logo */
.logo {
    max-width: 150px; /* Defina um tamanho máximo */
    height: auto; /* Mantém as proporções da imagem */
    margin: 10px auto; /* Espaçamento para centralizar e dar espaço */
    display: block; /* Garante centralização */
}
